@import url('https://fonts.googleapis.com/css?family=Aleo:400,700');
$red:#a41c12;

*{
  margin:0;
  padding:0;
}

body {
  font-family: 'Aleo';
}


h1 {
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  max-width: 700px;
}

#demos {
  padding:60px;
}

#demo-items {
  padding-top:20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:10px;
  .demo-item {

    img {
      max-width: 100%;
    }
  }

  @media screen and (max-width:1024px){
    grid-template-columns: repeat(2,1fr);
  }

  @media screen and (max-width:400px) {
    grid-template-columns: repeat(1,1fr);
  }
}

a {
  text-decoration: none;
  font-size: 20px;
  color:#333;
  font-weight: bold;
  transition:all 1.2s ease;
  &:hover {
    transition:all 1.2s ease;
    color:$red;
  }
}

ul {
  margin-top:5px;
  li {
    list-style: none;
  }
}

.demo-item {
  margin-top:10px;
}

p.demo-title {
  font-size:20px;
}

a.sourceLink {
  font-size:16px;
}